html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  /* font-style: normal; */
}

#root {
  height: 100%;
  background-image: url("../public/stars_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}